:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --background-color: #F5F5F5;
    --background-secondary: #F5F4FA;
    --background-color-hero: #2F303A;
    --color-logo: #000000;
    --color-footer: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
}

h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: solid 1px tomato; */
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Header */

/* main-nav */

.main-nav {
    display: flex;
    align-items: center;
}

.header-border {
    border-bottom: 1px solid #ECECEC;
}

.logo {
    margin-right: 93px;
    color: var(--color-logo);
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-web {
    color: var(--accent-color);
}

.site-nav {
    display: flex;
}

.site-nav__list + .site-nav__list {
    margin-left: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    position: relative;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link.current {
    color: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__link.current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.site-contacts {
    display: flex;
    margin-left: auto;
}

.site-contacts__list + .site-contacts__list{
    margin-left: 50px;
}

.site-contacts__link {
    display: flex;
    align-self: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.site-contacts__link:hover,
.site-contacts__link:focus {
    color: var(--accent-color);
}

.site-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

/* Hero */

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero__button {
    background-color: var(--accent-color);
    color: var(--white-color);

    border-radius: 4px;
    border: transparent;
    padding: 10px 32px;
    min-width: 216px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.background-hero {
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/imghero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* features */



.features__list {
    display: flex;
    justify-content: space-between;
}

.features__list .features__item:not(:last-child) {
    margin-right: 30px;
}

.features__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 270px;
    margin-bottom: 10px;
}

.featuses__paragraph {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
margin: 0;
}

.featuses__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;

    background: #F5F4FA;
    border-radius: 4px;

    margin-bottom: 30px;
}

/* Work */

.work {
    padding-top: 0;
}

.work__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.work__list {
    display: flex;
}

.work__list>.list {
    position: relative;
}

.work__item + .work__item {
    margin-left: 30px;
}

.work__overlay {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
}

.work__overlay-title {
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    padding-top: 27px;
    padding-bottom: 27px;
}

/* team */

.team {
    background-color: var(--background-secondary);
}

.team__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.team__list {
    display: flex;
}

.team__item + .team__item {
    margin-left: 30px;
}

.team--border {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__img {
    margin-bottom: 30px;
}

.team__name {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.team__container {
    padding-bottom: 30px;
}

.team__position {
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 16px;
}



.team-social {
    width: 206px;
    height: 44px;
}

.team-social__list {
    display: flex;
    margin-left: 32px;
}

/* .social-list-icon {
    list-style: none;
} */

.team-social__item:not(:last-child) {
    margin-right: 10px;
}

.team-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover,
.team-social__link:focus {
    fill: var(--white-color);
    border-radius: 50px;
    background-color: var(--accent-color);
}



/* customers */

.customers-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.customers-list {
    list-style: none;
    display: flex;
}

.customer-link {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-repeat: no-repeat;
    fill: #AFB1B8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
    border: 1px solid #2196F3;
    fill: var(--accent-color);
}


.customers-list .list:not(:last-child) {
    margin-right: 30px;
}

/* footer */

.align {
    display: flex;
    align-items: baseline;
}

 .footer {
    background-color: var(--background-color-hero);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.footer .logo-divided {
    color: var(--accent-color);
}

.footer-list{
    margin-top: 20px;
    width: 238px;
}
.footer-list > .list:not(:last-child) {
    margin-bottom: 9px;
}

.footer .address {
    color: var(--white-color);
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer .contacts {
    color: var(--color-footer);
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.title-join {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.container-social {
    width: 206px;
    height: 44px;
    margin-left: 70px;
}

.footer-social {
    display: flex;
}

.list-footer {
    list-style: none;
}

.list-footer:not(:last-child) {
    margin-right: 10px;
}

.link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
    background-color: var(--accent-color);
}

/* form footer */

.form-footer {
    margin-left: 70px;
}

.footer-label {
    padding-left: 15px;
    width: 358px;
    height: 50px;
    background-color: var(--background-color-hero);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
}

.footer-label:focus {
    color: rgba(255, 255, 255, 0.6);
}


.button-sign {
    position: relative;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    color: var(--white-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
    cursor: pointer;
}

.text-butnn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    margin-right: 25px;
}
.svg-butn {
    position: absolute;
    top: 13px;
    right: 28px;
}

/* Portfolio */

/* button */

.button {
    display: inline-block;
    background-color: var(--background-secondary);
    color: var(--title-text-color);
    cursor: pointer;

    border-radius: 4px;
    border: transparent;
    min-width: 73px;
    padding: 6px 22px;


    font-weight: 500;
    font-size: 16px;
    line-height: 1.85;
    text-align: center;
    letter-spacing: 0.03em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-button {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.list-button .list + .list {
    margin-left: 8px;
}

/* examples of work */

.examples-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.examples img {
    margin-bottom: 20px;
}

.examples-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples-paragraph {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin: 0;
}

.examples-list .list {
    margin-bottom: 30px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.examples-list img {
    margin-bottom: 0;
}
.examples-card {
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding: 20px 24px;
}


.examples-list .list:hover,
.examples-list .list:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-card {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list .list:hover .overlay {
    top: 1px;
    transform: translate(0);
}

.overlay {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
    padding: 63px 24px;
}

/* end */

/* backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;

    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.button-modal {
    position: absolute;
    top: 8px;
    left: 490px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover {
    fill: var(--accent-color);
}

.svg-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* form */

.form-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 12px;
}

.form-modal {
    width: 100%;
    height: 581px;
    padding: 40px;
}



.form-group {
    position: relative;
}

.form-label {
    width: 448px;
    height: 58px;
}

.text-form {
    display: block;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1, 16;
    letter-spacing: 0.01em;
    font-style: normal;
    color: var(--primary-text-color);

    margin-bottom: 4px;
}

.form-input {
    padding-left: 42px;
    /* margin: 0; */
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    outline: 1px solid var(--accent-color);
}

.form-input:focus ~ .icon {
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    position: absolute;
    bottom: 25px;
    left: 12px;
}

.form-message {
    height: 120px;
    padding-left: 16px;
    padding-top: 12px;
    resize: none;
}

.checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.checkbox-icon {
    position: absolute;
    left: 12px;
    top:4px;
    border: 1.7px solid var(--color-logo);
    border-radius: 4px;
}

.form-group input:checked + label .checkbox-icon {
    border: 1.7px solid var(--accent-color);
    background-color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text {
    margin-left: 37px;
}

.text-contract-basic {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.text-contract {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.form-buttom {
    position: absolute;
    bottom: 40px;
    left: 165px;
    width: 200px;
    height: 50px;
    padding: 10px 52px;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: transparent;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-buttom:hover,
.form-buttom:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}